<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Add Pilot</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
	<h2>Hello!</h2>
	
	<h3>Update Flight</h3>
	<form th:action="@{/flight/update}" method="POST">
		Flight Number : <br>
		<input type="text" name="newFlightNumber" th:value="${flightNumber}" style="background-color: grey;" readonly />
		<br>
		Origin : <br>
		<input type="text" name="newOrigin" />
		<br>
		Destination : <br>
		<input type="text" name="newDestination" />
		<br>
		Time : <br>
		<input type="date" name="newTime" />
		<br><br>
		<button type="submit">Submit</button>
	</form>
</body>
</html>